h1{
	color: #33272a;
	font-size: 40px;

}
h2{
	color: #ff8ba7;
	font-size: 32px;
}
p{
	color: #594a4e;
	font-size: 28px;
	text-align: justify;
}
.button-pink {
	text-decoration: none;
	color: #B5CE88;
	padding: 10px 16px;
	background-color: #ffc6c7;
	border-radius: 4px;
	color: white;
	display: inline-block;

}

.button-pink:hover {
	background-color: red;
}


body{
	background-color: #faeee7;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
img{
	border-radius: 20px;

}
ul{
	text-align: justify;
	font-size: 35px;
	list-style-type: space-counter;
	color: pink;
}

div{
	width: 800px;
	padding: 16px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 32px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 8px;

}

.banner {
	border: 1px solid red;
	height: 400px;
	background-image: url("https://images.unsplash.com/photo-1589652717521-10c0d092dea9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
	color: whitesmoke; 

}




